@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Roboto', san-serif;
}
